@media screen and (min-width: 420px) {
	.App { 
		  width: 420px;
	} 
}

.App {
  height:100%;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  display:flex;
  margin:auto;
  background-color:rgb(163,157,157);
  width:100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width:100%;
	height: 30%;
}

.App-body {
  display: flex;
	width: 90%;
	background-color:rgb(70,61,62);
  flex-direction: column;
  justify-content: center;
  align-items: center;
	color:white;
	height: 10%;
	padding: 5% 5% 0 5%;

}
.Text-body {
	color: white;	
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 2% 0px;
}
.App-footer {
	height: 35%;
  display: flex;
	width: 100%;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.App-Contact {
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	width:90%;
	height:50px;
	background-color:#C0C0C0;
    padding:3% 0 3% 0;
	border: 1px solid #C0C0C0;
	border-radius: 5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.myname {
}
.mypic{
}
p {
	margin: 0;
}

.App-Holiday {
	display:flex;
	flex-direction:row;
	width:100%;
	height:25%;
	justify-content:space-around;
	background-color:rgb(70,61,62);
	color:white;
	padding:5% 0 0 0;
}

#plans {
	height:40px ;
	width:80% ;
	border-radius:5px;
	border:0px solid white;
	background-color:lightgreen;
	color:rgb(70,61,62);
	font-weight:600;
	margin:10px;
	font-size:15px;
}
#plans:hover{
	border:0px solid white;
	background-color:white;
	color:rgb(70,61,62);
	font-weight:500;
}
